@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

/* general style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

html{
    font-size: 30px;
    overflow: hidden;
}

/* header design */

.header{
    display: flex;
    position: absolute;
    top: 30px;
    left: 0;
    padding: 30px 10%;
    align-items: center;
    justify-content: center;
    background-color: greenyellow;
    z-index: 100;
}

.header .logo{
    font-size: 45px;
    font-weight: bold;
    margin-right: 80px;
    cursor: pointer;
}

.header .logo:hover{
    
}

.header a{
    display: inline-flex;
    margin-right: 18px;
    margin-right: 50px;
    color: #fff;

}