/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

/* general style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body{
    position: relative;
}

a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

/* navbar design */
#nav_bar{
    display: flex;
    margin: 30px  0 0 60px;
    padding: 0;
    position: absolute;
}


.nav{
    display: flex;
}

.logo_1{
    padding-right: 50px;
    font-size: 30px;
}

.list a{
    font-size: 18px;
}

.list div{
    padding-top: 10px;
}